<a href="https://colab.research.google.com/github/RoyEHamlin/Code-Snippets/blob/main/_snip2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# * **GENERAL**

## ** Import Modules

In [ ]:
from sklearn import datasets
from mpl_toolkits.mplot3d import axes3d, Axes3D  # Import multiple from module

import pandas as pd 
import statsmodels.api as sm

import matplotlib.pyplot as plt
from matplotlib import pyplot

from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
import sklearn
print(sklearn.__version__)  # Version of module

1.0.2

## ** Import Files

In [ ]:
# https://adamtheautomator.com/python-read-file/ (STUB)
# https://www.geeksforgeeks.org/reading-writing-text-files-python/ (STUB)
# https://stackoverflow.com/questions/47842388/read-text-files-from-website-with-python#47842443 (STUB, import online text files)

## ** Logic Flow (for loops, iterables, etc.)

In [ ]:
# access the index w/i a for loop
# Replacement Field
# https://www.geeksforgeeks.org/python-format-function/
# https://stackoverflow.com/questions/522563/accessing-the-index-in-for-loops
ints = [8, 23, 45, 12, 78]
for idx, val in enumerate(ints):
    print('item #{} = {}'.format(idx, val))

item #0 = 8
item #1 = 23
item #2 = 45
item #3 = 12
item #4 = 78

In [ ]:
# creating 'stub's in code for later coding OR used when statement is required, but you do not want any code to run.
pass

## ** Objects

### *** Basics

In [ ]:
print(dir(int()))   # list classes and variables of object
help(int)   #

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']
Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

## ** Functions

In [ ]:
import numpy as np

def flip(flips, trials):
    return np.random.randint(0, 2, size=(trials, flips))

flip(4,3)

array([[0, 1, 0, 1],
       [1, 1, 0, 0],
       [1, 0, 1, 1]])

## ** Functional Language Functions

In [ ]:
# STUBS
### *** map()
### *** filter()
### *** reduce()

In [ ]:
#  sum lists by element - https://therenegadecoder.com/code/how-to-sum-elements-of-two-lists-in-python/
a = [3,0,0,1]
b = [7,0,1,0]
c = [22,1,0,1]

# Method A

# Method B
methB = [x + y + z for x, y, z in zip(a, b, c)]
print(methB)

# Method C
import operator
methC = list(map(operator.add, a, b)) # only works w/ two lists at a time. "list() used to view map object"
print(methC)

# Method D (mine)
methD = list(map(lambda pair: sum(pair), zip(a, b, c)))
print(methD)

[32, 1, 1, 2]
[10, 0, 1, 1]
[32, 1, 1, 2]

### *** lambda
# https://realpython.com/python-lambda/

In [ ]:
# Anonymous Functions
# https://www.geeksforgeeks.org/python-lambda-anonymous-functions-filter-map-reduce/ (STUB)
# https://realpython.com/python-lambda/ (STUB)
# Sum lists, unknown number of arguments
# custom_function = lambda *args: reduce(lambda x, y: x and y, args, True)
custom_function = lambda *args: sum(args)
custom_function(1, 2, 3, 0)

# custom_function = lambda *args:

6

In [ ]:
(lambda x: x + 1)(2)

3

In [ ]:
full_name = lambda first, last: f'Full name: {first.title()} {last.title()}'    # Python modern strings
full_name('guido', 'van rossum')
'Full name: Guido Van Rossum'

'Full name: Guido Van Rossum'

In [ ]:
# lambda x, y: x + y
# _(1, 2)
_

'Full name: Guido Van Rossum'

## ** Variables, arguments, etc.

In [ ]:
# return elements of an iterator as arguments for a function
# https://stackoverflow.com/questions/3941517/converting-list-to-args-when-calling-function/3941529
# https://docs.python.org/3/reference/expressions.html#calls
a = [1, 2, 3, 4, 5]
b = [2, 2, 9, 0, 9]
c = [3, 2, 12, 0, 9]
d = [a,b,c]
print(*d)   # <----- Expands iterator

# Methods B and C
# https://stackoverflow.com/questions/3790848/fastest-way-to-convert-an-iterator-to-a-list
s = set("geeks")
print(type(s))
for x in s:
    print(x)

# Method B
print([*s])    # <--- expands as a list first ???
# Method C
list(s)

[1, 2, 3, 4, 5] [2, 2, 9, 0, 9] [3, 2, 12, 0, 9]
<class 'set'>
k
s
g
e
['k', 's', 'g', 'e']

['k', 's', 'g', 'e']

## ** Strings

### *** Print Strings

In [10]:
# multiple print statements on same line
# https://stackoverflow.com/questions/5598181/multiple-prints-on-the-same-line-in-python
# original
l = [1,2,3]
for _ in l:
    print(f"{_}, ")

# Python 3
l = [1,2,3]
for _ in l:
    print(f"{_}, ", end="")
print("end")
print("end2")

1,
2,
3,
1, 2, 3, end
end2

In [ ]:
print("Hello World", end="\n")   # new line: https://www.freecodecamp.org/news/python-new-line-and-how-to-python-print-without-a-newline/

Hello World

#### **** https://www.python-course.eu/python3_formatted_output.php

In [ ]:
# Old Method using "printf"
print("Art: %5d, Price per Unit: %10.2f" % (453, 59.085878))    # %[flags][total digits including decimal point, empty spaces padded on left][.digits after decimal]type 
print("The score is %f " % 3.471698)    # print floating point
print("%10.3e"% (356.08977))
print("%10.3o"% (25))
print("%5x"% (47))  # Hexadecimal

Art:   453, Price per Unit:      59.09
The score is 3.471698
 3.561e+02
       031
   2f

In [ ]:
# New Method using "S.format"
print("First argument: {0}, second one: {1}".format(47,11))
print("Second argument: {1}, first one: {0}".format(47,11)) 
print("E.g. of flags, etc.: Second argument: {1:3d}, first one: {0:7.2f}".format(47.42,11))  # adding flags, precision, etc.
print("Default Order: First argument: {}, second one: {}".format(47,11) )  # default order
print("Reused Precision: various precisions: {0:6.2f} or {0:6.3f}".format(1.4148))   # reused argument
print("Left: {0:<20s} {1:6.2f}".format('Spam & Eggs:', 6.99))     # Left Justify "<"
print("Right: {0:>20s} {1:6.2f}".format('Spam & Eggs:', 6.99))    # Right Justify ">"

First argument: 47, second one: 11
Second argument: 11, first one: 47
E.g. of flags, etc.: Second argument:  11, first one:   47.42
Default Order: First argument: 47, second one: 11
Reused Precision: various precisions:   1.41 or  1.415
Left: Spam & Eggs:           6.99
Right:         Spam & Eggs:   6.99

#### **** Other Examples

In [ ]:
# more examples of left, center, right alightment/justify
print("{0:^16} was founded in {1:<4}!"
        .format("GeeksforGeeks", 2009)) 

print("{:*^20s}".format("Geeks")) 

print("It is {0:5} degrees outside !"
                        .format(40))

 GeeksforGeeks   was founded in 2009!
*******Geeks********
It is    40 degrees outside !

In [ ]:
# Function prints out values 
# in an unorganized manner 
def unorganized(a, b): 
    for i in range (a, b): 
        print ( i, i**2, i**3, i**4 ) 
  
# Function prints the organized set of values 
def organized(a, b): 
    for i in range (a, b): 
  
        # Using formatters to give 6  
        # spaces to each set of values 
        print("{:6d} {:6d} {:6d} {:6d}"
        .format(i, i ** 2, i ** 3, i ** 4)) 
  
# Driver Code 
n1 = int(input("Enter lower range :-\n"))   # Requests input from user
n2 = int(input("Enter upper range :-\n")) 
  
print("------Before Using Formatters-------") 
  
# Calling function without formatters 
unorganized(n1, n2) 
  
print() 
print("-------After Using Formatters---------") 
print() 
  
# Calling function that contains 
# formatters to organize the data 
organized(n1, n2)

Enter lower range :-
1
Enter upper range :-
6
------Before Using Formatters-------
1 1 1 1
2 4 8 16
3 9 27 81
4 16 64 256
5 25 125 625

-------After Using Formatters---------

     1      1      1      1
     2      4      8     16
     3      9     27     81
     4     16     64    256
     5     25    125    625

In [ ]:
# Dictionary Usage
capital_country = {"United States" : "Washington", 
                   "US" : "Washington", 
                   "Canada" : "Ottawa",
                   "Germany": "Berlin",
                   "France" : "Paris",
                   "England" : "London",
                   "UK" : "London",
                   "Switzerland" : "Bern",
                   "Austria" : "Vienna",
                   "Netherlands" : "Amsterdam"}

print("Countries and their capitals:")
for c in capital_country:
    format_string = c + ": {" + c + "}" 
    print(format_string.format(**capital_country))

Countries and their capitals:
United States: Washington
US: Washington
Canada: Ottawa
Germany: Berlin
France: Paris
England: London
UK: London
Switzerland: Bern
Austria: Vienna
Netherlands: Amsterdam

In [ ]:
# print local variables
a = 42
b = 47
def f():
    return 42
locals()
print("a={a}, b={b} and f={f}".format(**locals()))

a=42, b=47 and f=<function f at 0x7fa3b9ee0170>

In [ ]:
# Misc formtting using "string" class
s = "Python"
s.center(10)

'  Python  '

In [ ]:
s = "Training"
s.ljust(12)

'Training    '

### *** f-String Literal

In [ ]:
# https://www.geeksforgeeks.org/formatted-string-literals-f-strings-python/
name = 'Tushar'
age = 23
print(f"Hello, My name is {name} and I'm {age} years old.")

Hello, My name is Tushar and I'm 23 years old.

### *** Misc Strings

In [ ]:
# https://stackoverflow.com/questions/26236564/invalid-syntax-when-using-find-elemen-by-xpath
# Passing strings as arguments
print("""some text here""") # triple quotes used to avoid issues w/ single/double quotes, etc.

some text here

In [ ]:
# https://stackoverflow.com/questions/6633523/how-can-i-convert-a-string-with-dot-and-comma-into-a-float-in-python/6633912
# casting type text numbers with commas as a number.
from locale import atof, setlocale, LC_NUMERIC
setlocale(LC_NUMERIC, '') # set to your default locale; for me this is
# 'English_Canada.1252'. Or you could explicitly specify a locale in which floats
# are formatted the way that you describe, if that's not how your locale works :)
atof('123,456') # 123456.0
# To demonstrate, let's explicitly try a locale in which the comma is a
# decimal point:
# setlocale(LC_NUMERIC, 'French_Canada.1252') # removed due to error
print(atof('123,456')) # 123.456

123456.0

### *** STUB

In [ ]:
# Substrings : 
# https://www.dotnetperls.com/substring-python
# https://developers.google.com/edu/python/strings

# https://stackoverflow.com/questions/11279331/what-does-the-u-symbol-mean-in-front-of-string-values
# sentence = nlp(u'The quick-brown-fox jumps over the lazy dog. The quick brown fox eats well. \
#                the quickbrownfox is dead. the dog misses the quick brownfox')
# Creates a UNICODE string, also uses the "\"
# Format float values to "n" places.
#    http://randlet.com/blog/python-significant-figures-format/
# Constants: https://docs.python.org/3/library/string.html

In [ ]:
# Printing strings using % sign
# https://www.learnpython.org/en/String_Formatting
# https://realpython.com/python-formatted-output/     *** many good examples ***
# %s - String (or any object with a string representation, like numbers)
# %d - Decimal Integers
# %f or %F - Floating point numbers
# %.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.
# %x/%X - Integers in hex representation (lowercase/uppercase)
# %b - binary
# %c - single character
# %e or %E - Exponential
# %g or %G - Floating Point or Exponential
# %o - Octal
# %% - percentage

name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [ ]:
# exception A
x = 1e300 * 1e300
print("Exept A: ", x)       # inf

# exception B
print("Exept B: ",'{:g}'.format(x))         # inf

# exception C
print("Exept C: ",'{:g}'.format(x * 0))     # nan

# exception D
print("Exept D: ",'{:G}'.format(x))         # INF

# exception E
print("Exept E: ",'{:G}'.format(x * 0))     # NAN

Exept A:  inf
Exept B:  inf
Exept C:  nan
Exept D:  INF
Exept E:  NAN

## ** Primatives

 ### *** Reference

In [ ]:
# https://www.tutorialspoint.com/python/python_basic_operators.htm
# Types of Operators

# Arithmetic Operators
# Comparison (Relational) Operators
# Assignment Operators
# Logical Operators
# Bitwise Operators
# Membership Operators
# Identity Operators

In [ ]:
# Object Type
print(type("1"))    
type("1")

<class 'str'>

str

In [ ]:
# Also : https://stackoverflow.com/questions/2225038/determine-the-type-of-an-object?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
# boolean comparison of types
type([]) is list
# True
type(set()) is set
# true
type({}) is dict
# True
type('') is str
# True
type(0) is int
# True
type(1.1) is float
# true

True

In [ ]:
# Types
print(type([]))
print(type(set()))
print(type({}))
print(type(''))
print(type(0))
print(type(0))
print(type(1.1))
# --- w/o print
type(1.1)

<class 'list'>
<class 'set'>
<class 'dict'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

float

### *** Lists / Arrays

In [ ]:
# http://forums.whirlpool.net.au/archive/1199099
# https://www.pythoncentral.io/the-difference-between-a-list-and-an-array/
# https://www.geeksforgeeks.org/g-fact-41-multiple-return-values-in-python/
# http://thomas-cokelaer.info/tutorials/python/data_structures.html

In [ ]:
# index of last non-zero element in an array
# https://stackoverflow.com/questions/41346403/return-index-of-last-non-zero-element-in-list
import numpy as np
a = [0,0,1,1,2]     # <--- last 'non-zero' is 4th place, where the '2' is.
np.max(np.nonzero(a))

4

In [ ]:
# append lists
a = [1,2,3]
b = [1, 2, "a", 'b']
print(type(a))
print(type(b))
a.append(b) # <---
print(a)

<class 'list'>
<class 'list'>
[1, 2, 3, [1, 2, 'a', 'b']]

In [ ]:
# cast list to set using "set([list])"
fruit_list = ['Apple', 'Banana', 'Apple', 'Orange']
fruit_set = set(fruit_list)     # <-----
print(type(fruit_set))
print(fruit_set)    # NOTE: Returns RANDOM order since SET elements are stored using HASH.

<class 'set'>
{'Orange', 'Banana', 'Apple'}

In [ ]:
# sum
weights = [5, 20, 20, 5, 25, 25]
sum(weights)

100

In [ ]:
# print/return a column in a 2D List
# https://www.kite.com/python/answers/how-to-extract-a-column-from-a-multidimensional-array-in-python
an_array = [[1,2,3],
            [4,5,6],
            [7,8,9]]

for x in [row[2] for row in an_array]:
    print(x)

3
6
9

In [ ]:
# Return a column or row from a 2D list
c5train = [["19.0_01_07", 1],  
           ["20.0_01_14", 2],  
           ["20.0_02_22", 3],     # <---- Row 2
           ["28.0_02_13", 3],
           ["29.0_01_11", 1]]

print(c5train[:][:])    # Return all
print(c5train[:][2])    # print row 2
print(c5train[2][:])    # print row 2 ????

# https://stackoverflow.com/questions/903853/how-do-you-extract-a-column-from-a-multi-dimensional-array
# Column Return Method A
print(list(np.array(c5train).transpose()[0]))  # return column 0)

# Column Return Method B
import numpy as np
print(np.asmatrix(np.array(c5train))[:,0])      # Returns "numpy matrix" (2D list)
print(type(np.asmatrix(np.array(c5train))[:,0]))

# ??? # map(None, *[np.array(c5train)])[0]

[['19.0_01_07', 1], ['20.0_01_14', 2], ['20.0_02_22', 3], ['28.0_02_13', 3], ['29.0_01_11', 1]]
['20.0_02_22', 3]
['20.0_02_22', 3]
['19.0_01_07', '20.0_01_14', '20.0_02_22', '28.0_02_13', '29.0_01_11']
[['19.0_01_07']
 ['20.0_01_14']
 ['20.0_02_22']
 ['28.0_02_13']
 ['29.0_01_11']]
<class 'numpy.matrix'>

### *** sets

#### **** Reference
https://towardsdatascience.com/python-lists-vs-sets-39bd6b5745e1
https://www.datacamp.com/community/tutorials/sets-in-python
1. unique values ONLY (no duplicates)
2. Order of elements NOT maintained (use of HASH)
3. Significantly faster (use of HASH)

In [ ]:
# Create Sets
s1 = set()
print(type(s1))

s2 = {'apple', 'banana', 'orange', 'apple'} # NOTE: 2nd instance of 'apple' dropped.
print(type(s2))
print(s2)

<class 'set'>
<class 'set'>
{'orange', 'apple', 'banana'}

In [ ]:
s = set()
print(type(s))
s.add(1)
s

<class 'set'>

{1}

### *** tupels

In [ ]:
# creat tuple
t = (1,2,"a")
type(t)

tuple

### *** Dictionaries

In [ ]:
# create dictionary
d = {"a":1, "b":2}
print(type(d))
d

<class 'dict'>

{'a': 1, 'b': 2}

# * Classes

## ** AST : Abstract Syntax Trees

In [ ]:
# cast literal text as a list
# https://stackoverflow.com/questions/20250396/converting-string-that-looks-like-a-list-into-a-real-list-python
import ast
a = ast.literal_eval("['MI3', 'MI4']")
type(a)

list

## ** Pandas

In [ ]:
# create Panda Dataframe
# below is duplicated code, except for last line
import pandas as pd
# Creating
## e.g. 1
df = pd.DataFrame({"A":[34,12,78,84,26], 
                   "B":[54,87,35,25,82], 
                   "C":[56,78,0,14,13], 
                   "D":[0,23,72,56,14], 
                   "E":[78,12,31,0,34]})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      int64
 2   C       5 non-null      int64
 3   D       5 non-null      int64
 4   E       5 non-null      int64
dtypes: int64(5)
memory usage: 328.0 bytes

# * TO SORT / MISC

In [ ]:
# STUB : Underscore
# https://www.geeksforgeeks.org/underscore-_-python/